<div class="darth-block-list-item row" [attr.id]="id"
[ngStyle]="{'border-color': showBorder ? blockItem.borderColor:'', 'border-left-width.px': showBorder ? 10 : ''}">

  <div class="col-md-2 col-12 darth-block-list-item__info-additional" *ngIf="showInfoAdditional">
    <ng-template *ngTemplateOutlet="templateInfoAdditional; context: {item: blockItem.item}"></ng-template>
  </div>

  <div class="col-12 darth-block-list-item__data" [ngClass]="{'col-md-10': showInfoAdditional}">
    <div class="row" *ngIf="showHeader">
      <div class="col-12">
        <ng-template *ngTemplateOutlet="templateHeader; context: {item: blockItem.item}"></ng-template>
        
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-template *ngTemplateOutlet="templateData; context: {item: blockItem.item}"></ng-template>
      </div>
    </div>
  </div>
  <!-- *ngIf="showActions" -->
  <div class="darth-block-list-item__actions" >
    <i class="bi bi-three-dots-vertical" (click)="openActions($event)"></i>
    <ul class="darth-block-list-item__actions--options-panel" DarthClickOutside (clickOutside)="hideOptions()" *ngIf="showOptions">
      <li *ngFor="let action of blockItem.actions; let index = index" (click)="sendAction($event, action, index)">
        <div class="row no-gutters">
          <div class="col-11">
            <span>{{action.label}}</span>
          </div>
          <div class="col-1">
            <i [class]="action.icon" *ngIf="action.icon"></i>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
