<!-- <div class="container bienvenidos">
    <div class="row">
        <div class="col">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
    <div class="row">
        <div class="col rutas">
            <app-side-menu></app-side-menu>
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<div class="container-fluid g-0 bienvenidos">
 
        <app-nav-bar (sideNavToggled)="sideNavStatus = $event;"></app-nav-bar>

    <main>
        <app-side-menu [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-menu-open': sideNavStatus}"></app-side-menu>
    </main>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
        <router-outlet></router-outlet>
    </div>
</div>