<!-- 
<div class="container">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      
        <a class="navbar-brand" href="#!">Peluqueria</a>
        <button class="navbar-toggler float-right" type="button" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}" id="menuprincipal">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['turn']" routerLinkActive="router-link-active" >Turnos </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['darthAguado']" routerLinkActive="router-link-active" >DarthAguado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['darth-join']" routerLinkActive="router-link-active" >Joint Pipe</a>
            </li>
            <li class="nav-item"  >
              <a class="nav-link"[routerLink]="['darth-spinner']" routerLinkActive="router-link-active">Darth Spinner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['darth-toast']" routerLinkActive="router-link-active" >Darth Toast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['darth-outside']" routerLinkActive="router-link-active" >Darth Click-Ouside</a>
            </li>
          </ul>
        </div>
      </nav>
</div> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <button class="navbar-brand float-right" type="button"  (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#!">Peluqueria</a>
  <!-- <div class="collapse navbar-collapse" id="menuprincipal">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['turn']" routerLinkActive="router-link-active" >Turnos </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['darthAguado']" routerLinkActive="router-link-active" >DarthAguado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['darth-join']" routerLinkActive="router-link-active" >Joint Pipe</a>
      </li>
      <li class="nav-item"  >
        <a class="nav-link"[routerLink]="['darth-spinner']" routerLinkActive="router-link-active">Darth Spinner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['darth-toast']" routerLinkActive="router-link-active" >Darth Toast</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['darth-outside']" routerLinkActive="router-link-active" >Darth Click-Ouside</a>
      </li>
    </ul>
  </div> -->
  <!-- <form class="d-flex me-5">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form> -->
</nav>
