<div class="side-nav-content " [ngClass]="{'nav-list-open': sideNavStatus}">
    <ul class="nav-list ">
        <li class="nav-list-item ">
            <i class="bi bi-controller "></i>
            <span>
                <a [routerLink]="['turn']" routerLinkActive="router-link-active" >Turnos </a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-steam "></i>
            <span>
                <a  [routerLink]="['darthAguado']" routerLinkActive="router-link-active" >DarthAguado</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-spotify "></i>
            <span>
                <a  [routerLink]="['darth-join']" routerLinkActive="router-link-active" >Joint Pipe</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-headset "></i>
            <span>
                <a [routerLink]="['darth-spinner']" routerLinkActive="router-link-active">Darth Spinner</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-dpad"></i>
            <span>
                <a  [routerLink]="['darth-toast']" routerLinkActive="router-link-active" >Darth Toast</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-dice-6"></i>
            <span>
                <a  [routerLink]="['darth-outside']" routerLinkActive="router-link-active" >Darth Click-Ouside</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-discord"></i>
            <span>
                <a  [routerLink]="['darth-dropdown']" routerLinkActive="router-link-active" >Darth Dropdown</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-cup-hot-fill"></i>
            <span>
                <a  [routerLink]="['darth-load-iframe']" routerLinkActive="router-link-active" >Darth Dropdown</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-cup-hot-fill"></i>
            <span>
                <a  [routerLink]="['darth-config']" routerLinkActive="router-link-active" >Darth Config</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-cup-hot-fill"></i>
            <span>
                <a  [routerLink]="['darth-datail']" routerLinkActive="router-link-active" >Darth Detail</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-cup-hot-fill"></i>
            <span>
                <a  [routerLink]="['darth-block-list']" routerLinkActive="router-link-active" >Darth Block list</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-cup-hot-fill"></i>
            <span>
                <a  [routerLink]="['courses/coursesList']" routerLinkActive="router-link-active" >Curses list</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-cup-hot-fill"></i>
            <span>
                <a  [routerLink]="['courses/create-course']" routerLinkActive="router-link-active" >Create Curses</a>
            </span>
        </li>
        <li class="nav-list-item ">
            <i class="bi bi-cup-hot-fill"></i>
            <span>
                <a  [routerLink]="['counter']" routerLinkActive="router-link-active" >Contador</a>
            </span>
        </li>
    </ul>
</div>